/* General Styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  color: #333;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.app-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4682b4;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-section, .right-section {
  width: 100%;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-picker {
  width: 100%;
  border: 1px solid black;
}

.rdrStaticRangeLabel {
  display: block;
  outline: 0;
  line-height: 18px;
  padding: 10px 20px;
  text-align: left;
  color: black;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4682b4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-button {
  margin-top: -5px;
  margin-bottom: 5px;
}
.history-button {
  margin-top: 25px;
}
.cancel-button {
  background-color: #dc3545 !important;
}

.cancel-button:hover {
  background-color: #c82333 !important;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}


button:hover {
  background-color: #5f9ea0;
}

.weather-card, .forecast-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.weather-location {
  font-size: 1.5rem;
}

.forecast-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.forecast-card {
  flex: 1 1 200px;
  max-width: 250px;
}

.weather-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.weather-history th, .weather-history td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.weather-history th {
  background-color: #f2f2f2;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }

  .left-section, .right-section {
    width: 48%;
  }

  .app-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .input-group {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .weather-history {
    overflow-x: auto;
  }
}
