/* General Styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.app-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #4682b4;
  margin-top: 0%;
  margin-bottom: 30px;
}

.input-title {
  text-align: center;
  color: #4682b4;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.left-section, .right-section {
  width: 48%;
}

.input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.date-picker {
  margin-top: 10px;
}

.submit-button, .search-button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4682b4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover, .search-button:hover {
  background-color: #5f9ea0;
}

.weather-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.weather-location {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4682b4;
}

.weather-temperature, .weather-description, .weather-humidity, .weather-wind-speed {
  font-size: 1rem;
  margin: 5px 0;
}

 
